body {
  text-align: center;
}

header {
  color : #04c91e; //Change text color
  font-family : helvetica; //Change font
  font-size : 32px; //Set font style
  text-transform: uppercase; //Capatilize text
  text-alignment: center;
}

//Making header color as green with light blue background
.h1 {
  color : #04c91e; //Change text color
  font-family : helvetica; //Change font
  font-size : 32px; //Set font style
  text-transform: uppercase; //Capatilize text
  text-alignment: center;
}

.h4{
  color : #f53505; //Change text color
  font-family : helvetica; //Change font
  font-size : 22px; //Set font style
  text-transform: uppercase; //Capatilize text
  text-alignment: center;
}
 
  
