body {
  text-align: center;
  background-color: #cce2ff;
}

/* Making header color as red with light blue background */

header {
  font-family : helvetica;
}

/* To prevent image spilling out when zoom in */
.img-container {
  overflow: hidden;
  border-radius: 8px;
}

.img-container img {
  width : 60%;
  height : 40%;
  object-fit: cover; /*To maintains aspect ratio */
  transition: transform 0.4s ease; /* Controls duration and smoothness */
}

/* Triggers the zoom by 30% when hovering over the image */
.img-container:hover img {
  transform: scale(1.3);
}

h1{
  color : #f50519;  /* Change text color */
  font-family : helvetica; /* Change font */
  font-size : 32px; /* Set font size */
  text-transform: uppercase; /* Capitalize text */
  text-align: center;
}

h4{
  color : #f53505; /* Change text color */
  font-family : helvetica; /* Change font */
  font-size : 22px; /* Set font size */
  text-transform: uppercase; /* Capitalize text */
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #fcccfb;
  color: #300104;
  padding: 12px 24px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 16px; 
  /* change the arrow to pointer */
  cursor: pointer; 
  /* Smoothly animates the background change over 0.3 seconds */
  transition: background-color 0.3s ease;
}

.btn:hover {/* effects when mouse hover over buttons */
  background-color: #FC7784;
  border: solid;
  border-weight: 1px;
  border-color: #beface;
  border-radius: 16px;
}

.answer {/* Hide the answer until show answer is clicked */
  display : none;
}
.btn-ans {
  display: inline-block;
  background-color: #fcccfb;
  color: #300104;
  padding: 12px 24px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 16px; 
  /* change the arrow to pointer */
  cursor: pointer; 
  /* Smoothly animates the background change over 0.3 seconds */
  transition: background-color 0.3s ease;
}
.btn-ans:hover {/* effects when mouse hover over buttons */
  background-color: #FC7784;
  border: solid;
  border-weight: 1px;
  border-color: #beface;
  border-radius: 16px;
}


*/Style sheet for Books*/

.img-container.books { /* To prevent image spilling out when zoom in */
  overflow: hidden;
  border-radius: 8px;
}

.img-container.books img {
  width : 50%;
  height : 30%;
  object-fit: cover; /*To maintains aspect ratio */
  transition: transform 0.4s ease; /* Controls duration and smoothness */
}

/* Triggers the zoom by 30% when hovering over the image */
.img-container.books:hover img {
  transform: scale(1.3);
}

.books.answer {/* Hide the answer until show answer is clicked */
  display : none;
}

*/Style sheet for general*/

/* To prevent image spilling out when zoom in */
.img-container.general {
  overflow: hidden;
  border-radius: 8px;
}

.img-container.general img {
  width : 40%;
  height : 40%;
  object-fit: cover; /*To maintains aspect ratio */
  transition: transform 0.4s ease; /* Controls duration and smoothness */
}

/* Triggers the zoom by 30% when hovering over the image */
.img-container.general:hover img {
  transform: scale(1.3);
}

.general.answer {/* Hide the answer until show answer is clicked */
  display : none;
}

*/Style sheet for Movies*/

/* To prevent image spilling out when zoom in */
.img-container.movies {
  overflow: hidden;
  border-radius: 8px;
}

.img-container.movies img {
  width : 40%;
  height : 40%;
  object-fit: cover; /*To maintains aspect ratio */
  transition: transform 0.4s ease; /* Controls duration and smoothness */
}

/* Triggers the zoom by 30% when hovering over the image */
.img-container.movies:hover img {
  transform: scale(1.3);
}

.movies.answer {/* Hide the answer until show answer is clicked */
  display : none;
}

*/Style sheet for Science*/

/* To prevent image spilling out when zoom in */
.img-container.science {
  overflow: hidden;
  border-radius: 8px;
}

.img-container.science img {
  width : 60%;
  height : 60%;
  object-fit: cover; /*To maintains aspect ratio */
  transition: transform 0.4s ease; /* Controls duration and smoothness */
}

/* Triggers the zoom by 30% when hovering over the image */
.img-container.science:hover img {
  transform: scale(1.3);
}

.science.answer {/* Hide the answer until show answer is clicked */
  display : none;
}

 
  
